spring:
  application:
    name: stats-server
  config:
    import: "configserver:"

  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${random.uuid}  # уникальный ID
    prefer-ip-address: true