server:
  port: 8080

spring:
  application:
    name: gateway-server

  cloud:
    config:
      discovery:
        enabled: true

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/admin/**,/categories/**,/compilations/**,/events/**,/users/**,/requests/**,/subscriptions/**,/subscribers/**

        - id: stats-server
          uri: lb://stats-server
          predicates:
            - Path=/hit, /stats/**